@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

.Zerox {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  text-align: center;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.moving-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(23, 12, 175) 0%, rgba(0,0,0,0.8015581232492998) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%; 
}

.chkraButton {
  margin-top:10px;
  background: #008fd4 ;
  border-radius: 5px ;
  box-shadow: 0px 2px 2px 1px #0F0F0F; 
  color: white ;
  cursor: pointer; 
  font-family: inherit; 
  padding: 15px ;
  align-content: center;
  margin: 10 ;
}

.baseText {
  margin-top : 10px;
  font-size : 30px;
  letter-spacing: 7.5%;
  color: black;
  text-align: center;
}